<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hemin.fnb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".ui.activity.MyMessage"></activity>
        <activity android:name=".ui.activity.NoticeSetting" />
        <activity android:name=".ui.activity.ChangeName" />
        <activity android:name=".ui.activity.ChangeMobile" />
        <activity android:name=".ui.activity.UserSetting" />
        <activity android:name=".ui.activity.ChangeLogo" />
        <activity android:name=".ui.activity.UserMessage" />
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.CollectionInformationSheet" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.CodeLoginActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.PasswordActivity" />
        <activity android:name=".ui.activity.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.PublishingCollections" />
        <activity android:name=".ui.activity.CollectionInformation" />
        <activity android:name=".ui.activity.MyAppraisa" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/app_fileprovider_authorities"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities"> //避免冲突
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_path"
                tools:replace="android:resource"/> //避免冲突
        </provider>

    </application>


</manifest>