<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hemin.fnb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.activity.MyMessage"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.NoticeSetting"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ChangeName"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ChangeMobile"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.UserSetting"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ChangeLogo"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.UserMessage"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CollectionInformationSheet"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.CodeLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PublishingCollections"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CollectionInformation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyAppraisa"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CollectionInformationMessage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity"
            android:screenOrientation="portrait"></activity>//选择图片
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity"
            android:screenOrientation="portrait"></activity>//预览图片
        <!-- targetSDKVersion >= 24时才需要添加这个provider，provider的authorities属性的值为${applicationId}.fileprovider，请开发者根据自己的${applicationId}来设置这个值 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>


</manifest>